body{
background:black;
color:#00ffcc;
font-family:Consolas;
}

textarea,input,button{
width:100%;
margin-top:6px;
padding:10px;
background:black;
border:1px solid #00ffcc;
color:#00ffcc;
}

li{
border-bottom:1px dashed #00ffcc;
padding:8px;
}
