body{
background:black;
color:#00ffcc;
font-family:Consolas;
}

.hidden{display:none}

textarea,input,button{
width:100%;
background:black;
border:1px solid #00ffcc;
color:#00ffcc;
padding:10px;
margin-top:6px;
}

#app{
max-width:800px;
margin:auto;
border:2px solid #00ffcc;
padding:20px;
box-shadow:0 0 25px #00ffcc;
}

li{
border-bottom:1px dashed #00ffcc;
padding:10px;
}
